vendor/
node_modules/
npm-debug.log

config/database.php

public/storage
public/NHA-IS
public/nhaemployees
public/nhanotify
public/highcharts
public/family
public/employee_advance
public/img
public/lecturer
public/plugins
storage/*.key
storage/*
.env.*.php
.env.php
.env
composer-setup.php

